// Tang Mega 138K Pro — tritosc (тернарный осциллятор)
// TODO: audio пин — уточнить по schematic 2x20 PinHeader
IO_LOC "clk"     P16;
IO_LOC "uart_tx" P15;
IO_LOC "rx"      R15;     // TODO: verify
IO_LOC "audio"   V22;     // TODO: PinHeader pin для аудиовыхода
IO_LOC "leds[5]" N23;
IO_LOC "leds[4]" N21;
IO_LOC "leds[3]" M25;
IO_LOC "leds[2]" L20;
IO_LOC "leds[1]" R26;
IO_LOC "leds[0]" J14;

IO_PORT "clk"     IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "rx"      IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "audio"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "leds[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "leds[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "leds[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "leds[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "leds[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "leds[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
