IO_LOC "clk"   P16;
IO_LOC "rst_n" G16;
IO_LOC "rx"    V16;
IO_LOC "tx"    U16;
IO_PORT "clk"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP   BANK_VCCIO=3.3;
IO_PORT "rx"    IO_TYPE=LVCMOS33 PULL_MODE=UP   BANK_VCCIO=3.3;
IO_PORT "tx"    IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "state_led[0]" J14;
IO_LOC "state_led[1]" R26;
IO_LOC "state_led[2]" L20;
IO_PORT "state_led[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "state_led[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "state_led[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
